<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", type="text/css", href="./assets/css/index.scss")
    script(src="./assets/js/index.ts")
  body
    pre
      code.
        [
          {
            title: "幼年期の終り",
            author: "アーサー・C・クラーク"
          },
          {
            title: "タイタンの妖女",
            author: "カート・ヴォネガット・ジュニア"
          },
          {
            title: "夏への扉",
            author: "ロバート・A・ハインライン"
          },
        ];
    hr
    ul#OUTPUT